<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".BoomSwitchApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CreateShortcutActivity"
            android:exported="true"
            android:taskAffinity=".shortcut"
            android:theme="@style/AppThemeDialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ShortcutActivity"
            android:exported="true"
            android:taskAffinity=".shortcut"
            android:theme="@android:style/Theme.NoDisplay" />

        <activity
            android:name=".ui.HelpActivity"
            android:exported="false"
            android:theme="@style/AppThemeNoActionBar" />

    </application>

</manifest>
